@import "@fontsource/vazirmatn/400.css";
@import "@fontsource/vazirmatn/500.css";
@import "@fontsource/vazirmatn/600.css";
@import "@fontsource/vazirmatn/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  font-family: "Vazirmatn", sans-serif;
  color: #1f2937;

  background:
    radial-gradient(
      circle at top right,
      rgba(220, 38, 38, 0.08),
      transparent 35%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(239, 68, 68, 0.05),
      transparent 40%
    ),
    #fafafa;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

input,
textarea,
select,
button {
  font-family: "Vazirmatn", sans-serif;
}

@media print {
  @page {
    margin: 12mm;
  }

  body {
    background: #fff !important;
  }

  .no-print {
    display: none !important;
  }

  #report-print-area {
    padding: 0;
  }

  #report-print-area section {
    break-inside: avoid;
    box-shadow: none;
  }
}
